/* sezione header */
header{
    height: 8vh;
    width: 100%;
    background-color: white;
}
.debug{
    border: 1px dotted red;
}
.mobile-logo{
    height: 80%;
    aspect-ratio: 1;
}
.logo{
    display: none;
}
.container-98{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
form{
    width: 80%;
}
.fa-bell{
    color: gold;
    font-size: 1.5em;
}


/* sezione main */

main{
    height: 92vh;
    width: 100%;
}

#aside{
    width: 80px;
    height: 92vh;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    position: fixed;
}
nav{
    height: 90vh;
    margin-top: 1vh; margin-bottom: 1vh;
}

a{
    text-decoration: none;
}
#aside ul{
    list-style-type: none;
}
#aside ul li span,
#admin a span{
    display: none;
}

#aside i {
    color: white;
    
}
ul{
    padding: 0;
    margin: 0;
}


#top-bar{
    height: 180px;
    background-color: #1B72E8;
    width: calc(100% - 80px);
    margin-left: 80px;
}


/* media query, tablet */
@media only screen and (min-width: 768px){
    #top-bar{
        height: 110px;
    }
}


/* media query, pc */
@media only screen and (min-width: 992px){
    #aside{
        width: 115px;
        height: 100%;
        background-color: #051E34;
        position: fixed;
    }
    .mobile-logo{
        display: none;
    }
    .logo{
        display: block;
    }
    .container{
        max-width: 98%;
    }
    #aside ul li span,
    #admin a span{
        display: inline-block;
        width: 50px;
        margin-left: 5px;
        color: white;
    }

    #top-bar{
        height: 80px;
        background-color: #1B72E8;
        width: calc(100% - 115px);
        margin-left: 115px;
    }
}