/* sezione header */
header{
    height: 8vh;
    width: 100%;
    background-color: white;
}
.debug{
    border: 1px dotted red;
}
.mobile-logo{
    height: 80%;
    aspect-ratio: 1;
}
.logo{
    display: none;
}
.container-98{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
form{
    width: 80%;
}
.fa-bell{
    color: gold;
    font-size: 1.5em;
}


/* sezione main */

main{
    height: 92vh;
    width: 100%;
}

#aside{
    width: 80px;
    height: 92vh;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    position: fixed;
}
nav{
    height: 90vh;
    margin-top: 1vh; margin-bottom: 1vh;
}

a{
    text-decoration: none;
}
#aside ul{
    list-style-type: none;
}
#aside ul li span,
#admin a span{
    display: none;
}

#aside i {
    color: white;
    
}
ul{
    padding: 0;
    margin: 0;
}



#top-bar{
    height: 200px;
    background-color: #1B72E8;
    width: calc(100% - 80px);
    margin-left: 80px;
}
#top-bar-container{
    margin: auto;
    width: 95%;
}
#top-bar > div{
    height: 100%;
}
.plus-btn{
    border: 1px solid white;
    width: 40px;
    border-radius: 5px;
    aspect-ratio: 1;
}
.pill-bg-blue{
    background-color: #165BBA;
}



/* media query, tablet */
@media only screen and (min-width: 768px){
    #top-bar{
        height: 110px;
    }
    #top-bar-container{
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: flex-start;
        gap: 2.5% !important;
    }
    .order-1{
        order: 4 !important;
        flex-basis: 30%;
        margin-top: 1rem;
    }
    .order-2{
        order: 1 !important;
        flex-basis: 30%;
        
    }
    
    
    
}


/* media query, pc */
@media only screen and (min-width: 992px){
    #aside{
        width: 115px;
        height: 100%;
        background-color: #051E34;
        position: fixed;
    }
    .mobile-logo{
        display: none;
    }
    .logo{
        display: block;
    }
    .container{
        max-width: 98%;
    }
    #aside ul li span,
    #admin a span{
        display: inline-block;
        width: 50px;
        margin-left: 5px;
        color: white;
    }

    #top-bar{
        height: 120px;
        background-color: #1B72E8;
        width: calc(100% - 115px);
        margin-left: 115px;
    }
    #top-bar-container{
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: flex-start;
        gap: 2.5% !important;
    }
    .order-1{
        flex-basis: 20%;
    }
    .order-2{
        flex-basis: 40%;
    }
    .order-3{
        flex-basis: 30%;
        margin-top: 20px;
    }
    .badge.rounded-pill.pill-bg-blue.d-none{
        display: inline-block !important;
    }
    .more{
        display: none;
    }
}