/* sezione header */
header{
    height: 8vh;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999999999;
}
.debug{
    border: 1px dotted red;
}
.mobile-logo{
    height: 80%;
    aspect-ratio: 1;
}
.logo{
    display: none;
}
.container-98{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
form{
    width: 80%;
}
.fa-bell{
    color: gold;
    font-size: 1.5em;
}
.fa-ellipsis-vertical,
.fa-question,
.fa-list{
    display: none !important; 
}
.data,
.roi{
    display: none;
}

/* sezione main */

main{
    height: 92vh;
    width: 100%;
}
#main{
    height: 100%;
    width: calc(100% - 80px);
    margin-left: 80px;
}

#aside{
    width: 80px;
    height: 92vh;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    position: fixed;
}
nav{
    height: 90vh;
    margin-top: 1vh; margin-bottom: 1vh;
}

a{
    text-decoration: none;
}
#aside ul{
    list-style-type: none;
}
#aside ul li span,
#admin a span{
    display: none;
}

#aside i {
    color: white;
    
}
ul{
    padding: 0;
    margin: 0;
}



#top-bar{
    height: 200px;
    background-color: #1B72E8;
    width: calc(100% - 80px);
    margin-left: 80px;
}
#top-bar-container{
    margin: auto;
    width: 95%;
}
#top-bar > div{
    height: 100%;
}
.plus-btn{
    border: 1px solid white;
    width: 40px;
    border-radius: 5px;
    aspect-ratio: 1;
}
.pill-bg-blue{
    background-color: #165BBA;
}

.card-custom{
    width: 90%;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
}
.classe-avatar{
    height: 25px;
    width: 25px;
}
nav div ul li{
    padding: 10px;
}
.offcanvas{
    z-index: 934857394573875;
}

/* media query, tablet */
@media only screen and (min-width: 768px){
    #top-bar{
        height: 110px;
    }
    #top-bar-container{
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: flex-start;
        gap: 2.5% !important;
    }
    .order-1{
        order: 4 !important;
        flex-basis: 30%;
        margin-top: 1rem;
    }
    .order-2{
        order: 1 !important;
        flex-basis: 30%;
        
    }
    
    .data,
    .roi{
    display: table-cell;
    }
    /* tr  >.flex-column{
        flex-direction: row !important;
    } */
}


/* media query, pc */
@media only screen and (min-width: 992px){
    #aside{
        width: 115px;
        height: 100%;
        background-color: #051E34;
        position: fixed;
    }
    .mobile-logo{
        display: none;
    }
    .logo{
        display: block;
    }
    .container{
        max-width: 98%;
    }
    #aside ul li span,
    #admin a span{
        display: inline-block;
        width: 50px;
        margin-left: 5px;
        color: white;
    }

    #top-bar{
        height: 120px;
        background-color: #1B72E8;
        width: calc(100% - 115px);
        margin-left: 115px;
    }
    #top-bar-container{
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: flex-start;
        gap: 2.5% !important;
    }
    .order-1{
        flex-basis: 20%;
    }
    .order-2{
        flex-basis: 40%;
    }
    .order-3{
        flex-basis: 30%;
        margin-top: 20px;
    }
    .badge.rounded-pill.pill-bg-blue.d-none{
        display: inline-block !important;
    }
    .more{
        display: none;
    }
    #main{
        width: calc(100% - 115px);
        margin-left: 115px;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;
    }
    #prossime-classi{
        height: 62%;
        order: 0;
        width: 60%;
    }

    #todo{
        order: 3;
        height: 22%;
        width: 38%;
    }
    #faq{
        order: 1;
        height: 25%;
        width: 60%;
        margin-top: 20px;
    }
    #stats{
        order: 4;
        height: 64%;
        width: 38%;
        margin-top: 20px;
    }
    .card-img-top{
        height: 300px;
    }
    .card-custom{
        margin: 0;
    }
    form{
        width: 70%;
    }
    .fa-ellipsis-vertical,
    .fa-question,
    .fa-list{
        display: inline-block !important;
    }
}